<div class="header red">
  <div class="title">
    <h1>Welcome to {{neighborhoodName}}!</h1>
  </div>
  <div class="game-code-container">
    <div class="body-font game-code-label">Game Code:</div> <div class="game-code">{{gameCode}}</div></div>
</div>
<hr>

<div class="body">
  <div class="play-cards">
   <div class="card-table">
    <div>
      <div class="card-slot"> <p>{{getNumber(0)}}</p> <img class="preview" src='{{getTypePath(table.left, 0)}}'> </div>
      <div class="card-slot"> <p>{{getNumber(1)}}</p> <img class="preview" src='{{getTypePath(table.left, 1)}}'> </div>
      <div class="card-slot"> <p>{{getNumber(2)}}</p> <img class="preview" src='{{getTypePath(table.left, 2)}}'> </div>
    </div>

    <div>
      <div class="type-image card-slot">  <img src='{{getTypePath(table.right, 0)}}'> </div>
      <div class="type-image card-slot"> <img src='{{getTypePath(table.right, 1)}}'>  </div>
      <div class="type-image card-slot"> <img src='{{getTypePath(table.right, 2)}}'>  </div>
    </div>
  </div>

    <div class="goal-cards">
      <div class="card-slot goal-card-slot">
        <img src='{{ getGoalCardPath(0) }}'>
        <button *ngIf="!accomplishedGoals[0]" class="green goal-button" (click)="goalAccomplished(0)">Got it!</button>
      </div>

      <div class="card-slot goal-card-slot">
        <img src='{{ getGoalCardPath(1) }}'>
        <button *ngIf="!accomplishedGoals[1]" class="green goal-button" (click)="goalAccomplished(1)">Got it!</button>
      </div>

      <div class="card-slot goal-card-slot">
        <img src='{{ getGoalCardPath(2) }}'>
        <button *ngIf="!accomplishedGoals[2]" class="green goal-button" (click)="goalAccomplished(2)">Got it!</button>
      </div>

    </div>
  </div>

  <div class="neighbors">
    <app-neighbor class="neighbor" *ngFor="let neighbor of neighbors" [neighbor]="neighbor"></app-neighbor>
  </div>

</div>

<div class="buttons-container blue">
  <div class="buttons">
    <button *ngIf="!ready" class="small-button small-button-primary" (click)="iAmReady()">Ready!</button>
    <button *ngIf="ready" class="small-button small-button-primary" (click)="unReady()">Not Ready!</button>
    <button *ngIf="!stricken" class="small-button small-button-secondary" (click)="strike()">Strike!</button>
    <button *ngIf="stricken" class="small-button small-button-secondary" (click)="unStrike()">Undo!</button>
    <!-- <button class="big-button blue" (click)="leaveGame()">Leave</button> -->
  </div>
</div>

