<div style="text-align:center">
  <h1>
    Welcome to Your Perfect Home!
  </h1>


  <fa-icon [icon]="faCoffee"></fa-icon>

<div class="parent">
  <div class="card-slot div1"> <p>{{columnOne[0].number}}</p> </div>
  <div class="card-slot div2"> <p>{{columnOne[1].number}}</p>  </div>
  <div class="card-slot div3"> <p>{{columnOne[2].number}}</p>  </div>
  <div class="card-slot div4"> <p>{{columnTwo[0].type}}</p>  </div>
  <div class="card-slot div5"> <p>{{columnTwo[1].type}}</p>  </div>
  <div class="card-slot div6"> <p>{{columnTwo[2].type}}</p>  </div>
  <div class="card-slot div7"> </div>
  <div class="card-slot div8"> </div>
  <div class="card-slot div9"> </div>
  <div class="div10"> <button (click)="flip()"></button> </div>
  <div class="div11"> </div>
  <div class="div12"> </div>
  <div class="div13"> </div>
</div>
