<div *ngIf="!showJoinDialog && !showCreateDialog" class="buttons">
  <button class="big-button big-button-primary" (click)="toggleCreateDialog()">NEW GAME</button>
  <button class="big-button big-button-secondary" (click)="toggleJoinDialog()">JOIN GAME</button>
</div>

<div class="dialog" *ngIf="showJoinDialog">
  <div class="neighborhood-name"></div>
  <input [(ngModel)]="neighborhoodName" type="text" />
  <div class="game-code"></div>
  <input [(ngModel)]="gameCode" type="text" />

  <div class="dialog-buttons">
    <button class="small-button small-button-primary" (click)="goToGame()">START</button>
    <button class="small-button small-button-secondary" (click)="showJoinDialog = false">CANCEL</button>
  </div>
</div>

<div class="dialog" *ngIf="showCreateDialog">
  <div class="neighborhood-name"></div>
  <input [(ngModel)]="neighborhoodName" type="text" />

  <div class="dialog-buttons">
    <button class="small-button small-button-primary" (click)="createGame()">START</button>
    <button class="small-button small-button-secondary" (click)="showCreateDialog = false">CANCEL</button>
  </div>
</div>
