<div *ngIf="!showJoinDialog && !showCreateDialog" class="buttons">
  <button id="new-game-button" (click)="showJoinDialog = false; showCreateDialog = true"></button>
  <button id="join-game-button" (click)="showJoinDialog = true; showCreateDialog = false"></button>
</div>

<div class="dialog" *ngIf="showJoinDialog">
  <p>Give your neighborhood a name! </p>
  <input [(ngModel)]="neighborhoodName" type="text" />
  <p>Game Code:</p>
  <input [(ngModel)]="gameCode" type="text" />

  <div class="dialog-buttons">
    <button class="big-button green" (click)="goToGame()">Start</button>
    <button class="big-button red" (click)="showJoinDialog = false">Cancel</button>
  </div>
</div>


<div class="dialog" *ngIf="showCreateDialog">
  <p>Give your neighborhood a name!</p>
  <input [(ngModel)]="neighborhoodName" type="text" />

  <div class="dialog-buttons">
    <button class="big-button green" (click)="createGame()">Start</button>
    <button class="big-button red" (click)="showCreateDialog = false">Cancel</button>
  </div>
</div>
