.neighborhood-name {
  background: url('../../assets/dialogs/give-your-neighborhood-a-name.svg') no-repeat center;
  height: 34%;
  width: 100vw;
  background-size: 85% 85%;
}

.game-code {
  background: url('../../assets/dialogs/enter-your-game-code.svg') no-repeat center;
  height: 34%;
  width: 100vw;
  background-size: 85% 85%;
}

p {
  margin-bottom: .25em;
}

input {
  font-size: 1.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.buttons > button:active {
  transform: translateY(2px);
  /* box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.33); */
}

.buttons > button:focus {
  outline: none;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
}

@media only screen and (max-width: 768px) {
  /* .buttons {
    height: 80vh;
    justify-content: space-around;
  } */
}
